@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Custom scrollbar styles */
    .scrollbar-thin::-webkit-scrollbar {
        height: 8px;
    }

    .scrollbar-thin::-webkit-scrollbar-track {
        background: #fdf2f8;
        /* purple-50 */
        border-radius: 4px;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        background: #d8b4fe;
        /* purple-300 */
        border-radius: 4px;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
        background: #c084fc;
        /* purple-400 */
    }
}